

<mat-card class="dialog_box">
  <h1 mat-dialog-title>ADD TASK</h1>
  <div mat-dialog-content>
    <form [formGroup]="addTaskForm">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput name="title" required formControlName="title">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput name="description" required formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="dueDate" type="date">
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button type="submit" (click)="handelTaskSubmit()" mat-button [disabled]="!addTaskForm.valid" class="save_button">Save</button>
  </div>
</mat-card>